---
layout: default
---

<div class="home">
  
  <!-- <div class="posts"> -->
    {% for post in site.posts %}
      {% if post.categories contains 'books' %} 
            <a href="{{ post.url | prepend: site.baseurl }}">
	     <img class="book-list" src="{{ site.baseurl}}/bookcovers/{{ post.cover }}-medium.jpg" alt="{{ post.title }}" title="{{ post.title }}">
	    </a>
      {% endif %}
    {% endfor %}
  <!-- </div> -->

  {% include pagination.html %}

  <!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>-->
</div>
