---
layout: book
---

  <!-- <div class="posts"> -->
    {% for post in site.posts %}{% if post.categories contains 'books' %}<div class="book-list responsive-width">
            <a href="{{ post.url | prepend: site.baseurl }}">
   	        <span data-picture data-alt="{{ post.title }}">
      		<span data-src="{{ site.baseurl}}/bookcovers/{{ post.cover }}-medium.jpg"  ></span>
		<span data-src="{{ site.baseurl}}/bookcovers/{{ post.cover }}-small.jpg"  data-media="(min-width: 48em)"></span>
		<span data-src="{{ site.baseurl}}/bookcovers/{{ post.cover }}-small.jpg"  data-media="(min-width: 64em)"></span>
		<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
		<noscript>
		  <img src="{{ site.baseurl}}/bookcovers/{{ post.cover }}-unicorn.jpg" alt="{{ post.title }}" title="{{ post.title }}">
		</noscript>
	      </span>
	    </a>
</div>{% endif %}{% endfor %}
  <!-- </div> -->

  <!-- {% include pagination.html %} -->

  <!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>-->
